<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue todo list</title>
</head>

<body>
    <div id="root">
    
        <h1>New ToDo list! - Now with Vue.js</h1>

        <div class="input-container">
            <input type="text" v-model="newToDo.text" id="newtodo-input" placeholder="Aggiungi una cosa da fare">
            <button id="newtodo-button" @click="addItem()">Aggiungi</button>

        </div>

        <div class="list-container">

            <ul class="todo-ul">
                <!-- For each object in the array print a list-element in the DOM -->
                <!-- If the element has the key done === true -> apply the css class "done" -->
                <li v-for="singleToDo, index in listToDo" :class="{ 'done': singleToDo.done }">

                    <p>{{singleToDo.text}}</p>

                    <!-- If the user clicks the x-mark -> remove the item from the list -->
                    <div class="remove-mark" @click="removeItem(index)">
                        <i class="fa-regular fa-circle-xmark"></i>
                    </div>
                </li>
            </ul>
            
        </div>
    </div>

    <script src="js/script.js"></script>
</body>

</html>